.container-main {
  width: 90%;
  margin: 0 auto;

  @media only screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    width: 100%;
 }
}

.card-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  column-gap: 32px;
  row-gap: 23px;

  @media only screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-grid div {
  grid-row: 1;
  grid-column: 1/-1;
}

.tittle-main-page-container {
  width: 70%;
  margin-left: 13%;
  margin-top: 0;
  margin-bottom: 4%;
  @media only screen and (max-width: 992px) {
    width: 100%;
    margin: 0;
  }
}

.subtittle-main-page-container {
  margin-left: 13%;
  margin-top: 0;
  margin-bottom: 4%;
  @media only screen and (max-width: 992px) {
    margin: 4% 0 0 0;
    font-size: 16px;
  }
}

.tittle-main-style {
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
  @media only screen and (max-width: 992px) {
    font-size:35px;
    line-height: 39px;
  }
}

.red-word {
  color: #EA686D
}

.search-container {
  width: 100%;
  margin-left: 13%;
  margin-bottom: 6%;
  @media only screen and (max-width: 992px) {
    margin: 5% 0 8% 0;
  }
  
}

.tittle-search-container {
  width: 40%;

  @media only screen and (max-width: 992px) {
    width: 90%;
    margin: 0 auto;
  }
}


.pokemon-face-img {
  width: 110%;
  @media only screen and (max-width: 992px) {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
}

.flex-space-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media only screen and (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.flex-space-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.flex-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}