.container-main {
    width: 90%;
    margin: 0 auto;
}

.card-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    column-gap: 32px;
    row-gap: 23px;
}

.card-grid div {
    grid-row: 1;
    grid-column: 1/-1;
}

.tittle-main-page-container {
    width: 70%;
    margin-left: 13%;
    margin-top: 0;
    margin-bottom: 4%
}

.subtittle-main-page-container {
    margin-left: 13%;
    margin-top: 0;
    margin-bottom: 4%;
}

.tittle-main-style {
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
}

.red-word {
    color: #EA686D
}

.search-container {
    width: 100%;
    margin-left: 13%;
    margin-bottom: 6%
}

.tittle-search-container{
    width: 40%;
}


.pokemon-face-img {
    width: 110%;
}

.pokemon-faces {
    position: relative;
    display: inline-block;
}

.flex-space-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-space-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


.pokeball-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .pokeball {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation: spin 2s linear infinite;
  }
  
  .pokeball:before,
  .pokeball:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
  }
  
  .pokeball:before {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .pokeball:after {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

