.card-container {
    width: 100%;
    background-color: white;  
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.base-card{
    padding: 15px 15px;
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.margin-bottom {
    margin-bottom: 5%;
}
.card-image {
    text-align: center;
}

.header-image {
    width: 65%;
}

