<div class="card-container">
    <div class="base-card">
        <div class="section text-blue extra-small margin-bottom">
            <div>{{pokemon?.name | titlecase }}</div>
            <div>#{{pokemon?.id}}</div>
        </div>
        <div class="card-image margin-bottom">
            <img class="header-image" src="{{pokemon?.sprites!.other['official-artwork'].front_default}}">
        </div>
        <div class="section margin-bottom text-blue extra-small">
            <div>Altura:</div>
            <div>{{pokemon?.height! * 10}} cm</div>
        </div>
        <div class="section text-blue extra-small">
            <div>Peso:</div>
            <div>{{pokemon?.weight! / 10}} kg</div>
        </div>
    </div>
</div>