.container-main {
    width: 85%;
    margin: 0 auto;
}

.information-container {
    width: 40%;
}

.margin-bottom {
    margin-bottom: 5%;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.margin-bottom-small {
    margin-bottom: 2%;
}

.type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin-left {
    margin-left: 2%
}

.elipse-image {
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
}

.img-details-container {
    width: 60%;
    text-align: center;
}

.details-info-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.progress-bar {
    box-shadow: none;
    height: 21px;
    display: flex;
    font-size: 0.8rem;
    flex-direction: row;
    align-items: center;
    background: black;
    border-radius: 2px;
    width: 100%;

    &.hp {
        background-color: #C4F789
    }

    &.speed {
        background-color: #F7802A
    }

    &.attack {
        background-color: #49D0B0
    }

    &.defense {
        background-color: #EA686D
    }
}

.progress {
    background-color: white;
    height: 100%;
    border-radius: 2px;
    width: 60%;

}

.progress-bar-container {
    row-gap: 20px;
    display: inherit;
}

.display-flex {
    display: flex;
}

.stats-grid {
    display: grid;
    grid-template-columns: 20% 50%;
    align-items: center;
}


.stats-display-column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
