.header-image {
    display: flex;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #EFF4FA;
    z-index: 100;
}

.container-flex {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.flags {
    width: 45px;
    margin-left: 1%;
}

.flag-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}